.custom-tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 12px;
    z-index: 1000;
}

.tui-full-calendar-time-schedule-content {
    white-space: pre-line;
    line-height: 2;  /* Ajusta este valor según tus necesidades */
}

